.footer {
  width: 100%;
  height: 140px;
  background-image: url(/img/footer_bg.png);
  color: #fff;
}
.footer__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 160px;
}
.footer__block {
  font-size: 14px;
  margin-top: 45px;
}
.footer__block_mod {
  text-align: right;
}
.footer__copyright-title {
  margin-bottom: 5px;
}
.footer__contact-office {
  margin-bottom: 5px;
}
.footer__contact-tel {
  margin: 5px 0;
}
