.section-seven {
  position: relative;
}
.section-seven__name {
  font-size: 42px;
  font-weight: normal;
  color: #202322;
  text-align: center;
  margin: 90px 0 60px;
}
.section-seven__form {
  min-height: 270px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 160px;
}

// .section-seven__form-input {
//   width: 280px;
//   height: 60px;
// }
.section-seven__form-input-name {
  display: block;
  color: #202322;
}
.form__input {
  width: 280px;
  height: 60px;
  border-radius: 8px;
  border: 1px solid #ababab;
  padding-left: 10px;
}
.section-seven__form-button {
  display: block;
  width: 330px;
  height: 60px;
  background-image: url(/img/btn_green.png);
  background-repeat: no-repeat;
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  line-height: 2.5em;
  cursor: pointer;
  margin: 60px auto;
  position: relative;
}
.section-seven__button {
  position: absolute;
  display: block;
  font-size: 14px;
  color: #202322;
  width: 48px;
  height: 48px;
  background-image: url(/img/up_icon.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 58px 0 0 2px;
  bottom: 62px;
  right: 60px;
}
